@import "./variables";
@import "./helpers";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

// variables



// Global Styles

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

// heading

.hero {
  height: 811px;

  position: relative;

  header {
    z-index: 1;

    .items {
      display: flex;
      color: white;
      width: 50%;
      justify-content: space-between;

    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 11.8125rem;

        img {
          width: 100%;
        }
      }

      &-list {


        list-style: none;
        display: flex;
        margin: 0;
        box-sizing: border-box;

        .nav-item {
          margin-inline: 1rem;

          .nav-link {
            text-decoration: none;
            color: inherit;
          }
        }
      }

    }
  }

  .banner {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &_inner {

      display: flex;
      height: 700px;

      .left {
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;

          &-container {
            width: 548px;
            position: relative;

            p {
              font-size: 3rem;
              font-weight: 900;
              line-height: 58.09px;
            }

            .arrow-curve {
              position: absolute;
              right: 30%;
              bottom: 10%;
            }

          }
        }

      }

      .right {
        background: $primary;
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }

          .image-1 {
            width: 466px;
            position: absolute;
            left: -7%;
          }

          .image-2 {
            width: 359px;
            position: absolute;
            bottom: 0;
            right: 134px;
          }
        }
      }
    }
  }
}

// second part of the banner----------------------------------------
.banner-two {
  // background: red;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  width: 90%;
  margin: 0 auto;

  &_left {
    width: 45%;
    height: auto;
    margin-left: 2em;

    img {
      width: 100%;
      height: 80%
    }

  }

  &_right {
    width: 45%;

    .banner-two_heading {
      width: 100%;
      top: 67em;
      font-family: inter;
      font-weight: 700;
      font-size: 1.6em;
      line-height: 55px;
      color: $black;
    }

    .banner-two_paragraph {
      font-family: inter;
      font-weight: 400;
      font-size: 1.12em;
      line-height: 21.78px;
    }

  }

}

.recent-report {
  box-sizing: border-box;
  background: $primary;
  color: $white;
  width: 100%;
  height: 50%;
  margin-top: 50px;

  &_inner {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    .recent-report_subbheading {
      display: flex;
      justify-content: space-between;

    }
  }

  .recent-report_one {
    width: 20%;
    border: 2px solid white;
    background-color: $white;
    color: $black;
    border-radius: 10px;
    padding: 5px;
  }

  .recent-report_two {
    @extend .recent-report_one;
  }

  .recent-report_three {
    @extend .recent-report_one;
  }

  .recent-report_four {
    @extend .recent-report_one;
  }

  .recent-report_image {
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  .white {
    position: relative;
    left: 500px;
  }

}

.box1_heading {
  box-sizing: border-box;
  background: $white;
  color: $black;
  width: 100%;
  height: 50%;


  .subheading_text {
    width: 650px;
    height: 150px;
    line-height: 58px;
    padding-left: 40px;
  }

  .subheading_text h2 {
    font-weight: 700px;
    font-size: 48px;
  }



  .inner_boxes {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    height: 50%;
    justify-content: center;
  }

  .box {
    width: 317px;
    height: 257px;
    background-color: $white;
    color: $black;



  }

  .inner_boxes1 {
    @extend .inner_boxes
  }


}

footer {
  text-align: center;
  background-color: $primary;
  color: white;
  width: 1440px;
  height: 50px;
  padding: 50px 0;
  font-Weight: 400;
  font-Size: 16px;
  margin-top: 70px;

}