@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding-inline: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  all: unset;
  padding: 1.5rem 4.375rem;
  border-radius: 5px;
}

.btn.primary {
  background-color: #02250A;
  color: white;
}

.btn.white {
  color: black;
  background-color: white;
}

.btn footer {
  text-align: center;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.hero {
  height: 811px;
  position: relative;
}

.hero header {
  z-index: 1;
}

.hero header .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero header .nav .logo {
  width: 11.8125rem;
}

.hero header .nav .logo img {
  width: 100%;
}

.hero header .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero header .nav-list .nav-item {
  margin-inline: 1rem;
}

.hero header .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: inherit;
}

.hero .banner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero .banner_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
}

.hero .banner_inner .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .banner_inner .left_wrapper {
  height: 70%;
  width: 100%;
}

.hero .banner_inner .left_wrapper-container {
  width: 548px;
  position: relative;
}

.hero .banner_inner .left_wrapper-container p {
  font-size: 3rem;
  font-weight: 900;
  line-height: 58.09px;
}

.hero .banner_inner .left_wrapper-container .arrow-curve {
  position: absolute;
  right: 30%;
  bottom: 10%;
}

.hero .banner_inner .right {
  background: #02250A;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .banner_inner .right_wrapper {
  height: 70%;
  width: 100%;
  position: relative;
}

.hero .banner_inner .right_wrapper img {
  width: 100%;
}

.hero .banner_inner .right_wrapper .image-1 {
  width: 466px;
  position: absolute;
  left: -7%;
}

.hero .banner_inner .right_wrapper .image-2 {
  width: 359px;
  position: absolute;
  bottom: 0;
  right: 134px;
}

.banner-two {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  width: 90%;
  margin: 0 auto;
}

.banner-two_left {
  width: 45%;
  height: auto;
  margin-left: 2em;
}

.banner-two_left img {
  width: 100%;
  height: 80%;
}

.banner-two_right {
  width: 45%;
}

.banner-two_right .banner-two_heading {
  width: 100%;
  top: 67em;
  font-family: inter;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 55px;
  color: #000;
}

.banner-two_right .banner-two_paragraph {
  font-family: inter;
  font-weight: 400;
  font-size: 1.12em;
  line-height: 21.78px;
}

.recent-report {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #02250A;
  color: #fff;
  width: 100%;
  height: 50%;
  margin-top: 50px;
}

.recent-report_inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.recent-report_inner .recent-report_subbheading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-report .recent-report_one, .recent-report .recent-report_two, .recent-report .recent-report_three, .recent-report .recent-report_four {
  width: 20%;
  border: 2px solid white;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 5px;
}

.recent-report .recent-report_image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent-report .recent-report_image img {
  width: 100%;
}

.recent-report .white {
  position: relative;
  left: 500px;
}

.box1_heading {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  color: #000;
  width: 100%;
  height: 50%;
}

.box1_heading .subheading_text {
  width: 650px;
  height: 150px;
  line-height: 58px;
  padding-left: 40px;
}

.box1_heading .subheading_text h2 {
  font-weight: 700px;
  font-size: 48px;
}

.box1_heading .inner_boxes, .box1_heading .inner_boxes1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  height: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box1_heading .box {
  width: 317px;
  height: 257px;
  background-color: #fff;
  color: #000;
}

footer {
  text-align: center;
  background-color: #02250A;
  color: white;
  width: 1440px;
  height: 50px;
  padding: 50px 0;
  font-Weight: 400;
  font-Size: 16px;
  margin-top: 70px;
}
/*# sourceMappingURL=index.css.map */